html {
    background-color: black;
}
.email-container {
    display: flexbox;
    width: 75rem;
    height: 50rem;
    background-color: rgb(179, 179, 179);
    border-radius: 15px;
    border-width: 5px;
    border-color: gray;
    position: relative;
    margin: auto;
  } 
  .profile-page{
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
        
  }
  .genres {
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: left;
    margin: auto;
  } 
  .form-group {
    width: 50rem;
  } 
  .form-control{
    overflow-y: visible;
  }

  .textarea {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 80px;
    line-height: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
  }

  .header-text{
    width: 100%;
    display: inline-block;
    margin-top: 5px;
  }

  #header[contenteditable]:empty::before {
    content: "Enter header";
    color: gray;
  }

  #action[contenteditable]:empty::before {
    content: "Enter call to action";
    color: gray;
  }

  #closing[contenteditable]:empty::before {
    content: "Enter closing";
    color: gray;
  }

  #signature[contenteditable]:empty::before {
    content: "Enter signature";
    color: gray;
  }

  .buttons{
    margin-left: 36rem;
  }

  .button1,.button2,.button3{
    background-color: red;
    border-radius: 10px;
  }
  .hidden {
        display: none;
  }
  