<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="js/app.js"></script>
    <link rel="stylesheet" href="css/index.css" />
    <title>FAT BABIES BRUH</title>
</head>
<body>
    <label for="currID", id ="currID">ID:</label>
    <p></p>

    <label for="user">Username:</label>
    <input type="text" id="user" name="user">
    <label for="pass">Password:</label>
    <input type="text" id="pass" name="pass">

    <button id="login">Login</button>

    <p>get users</p>

    <div id="getBtn" class="get-btn">
        <button class="getuser">get users</button>
      </div>

    <p>delete user</p>
    
    <label for="delUID">User ID:</label>
    <input type="text" id="delUID" name="delUID">

    <div id="delBtn" class="del-btn">
        <button class="deluser">Delete</button>
      </div>

      <p>add user</p>
    
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="password">Password:</label>
    <input type="text" id="password" name="password">

    <div id="addBtn" class="add-btn">
        <button class="adduser">Create</button>
      </div>

    <p>Create template</p>

    <div id="addTemplate" class="add-template">
        <label for="header">Header:</label>
        <input type="text" id="header" name="header">

        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject">

        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre">

        <label for="description">Description:</label>
        <input type="text" id="description" name="description">

    </div>
    <button class="addTemp">Create</button>

</body>
</html>